* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Popstick Regular';
  src: url('../public/Popstick.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Popstick Regular', sans-serif;
}
